/* *********** */
/*    STRIPE   */
/* *********** */
@-webkit-keyframes stripe-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

@-moz-keyframes stripe-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

@-ms-keyframes stripe-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

@keyframes stripe-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

/* ************ */
/*    CONFIRM   */
/* ************ */
@keyframes confirmingAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes confirmingAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes confirmingAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-ms-keyframes confirmingAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
